html, body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right bottom, rgba(0,255,0,0), rgba(0,255,0,0.5));
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.links {display: flex; align-items: center; justify-content: center;}
a {margin: 10px;}

.login-info {text-align: center; color: red;}

h1 {text-align: center; margin-bottom: 0;}
form {text-align: center;}
input {margin: 5px;}

ul {display: flex; align-items: center; justify-content: center; flex-direction: column; margin-right: 30px; margin-left: auto;}

table, th, td {border: 1px solid black; border-collapse: collapse; color: black; background-color: white;}

.Container {display: flex; flex-wrap: wrap; justify-content: center;}