<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Database</title>
</head>
<body>
    <h1>Database</h1>
    {% for user in users %}
        <li> Username: {{ user.username }} --
             Password: {{ user.password }} </li>
    {% endfor %}

    <form action="/resetdb" method="POST">
        <input type="submit" value="Reset Dataebase">
    </form>
</body>
</html>