{% extends "layout.html" %}
{% block content %}

    <h1>Group Information about "{{ group }}":</h1>
    <br>
    <span>Users are: {{ group.users }}</span>
    <br>

    <h3>Create a new item:</h3>
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.name.label }}
        {{ form.name }}
        <br>
        {{ form.quantity.label }}
        {{ form.quantity }}
        <br>
        {{ form.image.label }}
        {{ form.image }}
        <br>
        {{ form.create }}
    </form>
    <br>
    {% for item in items %}
        {% if item.group == group.name %}
            <li>{{ item.name }} -- {{ item.quantity }} -- <img src="{{ url_for('static', filename='profile_pics/' + item.image) }}" alt="Item-Image"></li>
        {% endif %}
    {% endfor %}
{% endblock %}