<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/styles.css">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>My-TodoApp</title>
    {% endif %}
</head>
<body>
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <section class="links">
        <a href="{{ url_for('register') }}">Register</a>
        <br>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
        <br>
        <a href="{{ url_for('database') }}">Database</a>
        <br>
        <a href="{{ url_for('mytodo') }}">My To Do</a>
        <br>
        <a href="{{ url_for('sharedtodo') }}">Shared To Do</a>
        <br>
    </section>

    <div class="login-info">
        {% if current_user.is_authenticated %}
            <span>You're login as: {{  current_user.username }}</span>
        {% else %}
            <span>You're not login.</span>
        {% endif %}
    </div>


    {% block content %}{% endblock %}
</body>
</html>